ENV=prod
SERVER_HOST=127.0.0.1
SERVER_PORT=8000

DATABASE_URL=postgres://postgres:123456@10.10.10.7:5432/boge_blog

SMTP_SERVER=smtp.163.com
SMTP_USER=bogeblog@163.com
SMTP_PASS=TNbfyYDwMXvh7jtt
SMTP_PORT=465

SECURITY_KEY=9790fbfb-08ef-4e92-9ae3-36fb65a6ed55